.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    background-color: rgb(255, 255, 255);
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.nav-logo p{
    color: black;
    font-size: 30px;
    font-weight: 600;
}
.nav-link{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
}
.nav-login-cart{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #000000;
}
.nav-login-cart button{
    width: 120px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background: #9b9191;
}
.nav-cart-counter{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
