.hero3{
    background: linear-gradient(180deg, #d752f8, #e1ffea22 15%);;
    display: flex;
}
.hero3-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding-left: 180px;
    line-height: 1.1;
    margin-top: 350px;
}
.hero3-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero3-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}

.women-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    grid-gap: 10px; /* Adjust the gap between images */
    margin-top: 400px;
  }
  
  .women-images img {
    width: 100%; /* Make images fill their grid cell */
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #ddd; /* Example border */
    border-radius: 5px; /* Example border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example shadow */
    margin-bottom: 50px;
  }
  
  .women-images img:hover {
    transform: scale(1.05); /* Example hover effect */
    transition: transform 0.3s ease; /* Smooth transition */
  }
  .image-container p{
    font-size: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .sizes {
    position: absolute;
    bottom: -650px;
    right: 1200px;
  }
  
  .sizes button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  
 .sizes button:hover {
    background-color: #555;
  } 
  .sizes-2 button{
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  .sizes-2{
    position: absolute;
    bottom: -1330px;
    right: 1200px;
  }
  .sizes-2 button:hover {
    background-color: #555;
  }
  .sizes-3 button{
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  .sizes-3{
    position: absolute;
    bottom: -2000px;
    right: 1200px;
  }

  .sizes-3 button:hover{
    background-color: #555;
  }
  .sizes-4 button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  .sizes-4 {
    position: absolute;
    bottom: -2680px;
    right: 1200px;
  }
  .sizes-4 button:hover{
    background-color: #555;
  }
  .sizes-5 button{
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }

  .sizes-5{
    position: absolute;
    bottom: -3355px;
    right: 1200px;
  }

  .sizes-5 button:hover{
    background-color: #555;
  }

  .sizes-6 button{
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  .sizes-6{
    position: absolute;
    bottom: -4030px;
    right: 1200px;
  }
  .sizes-6 button:hover{
    background-color: #555;
  }

  .sizes-7 button{
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  .sizes-7{
    position: absolute;
    bottom: -4700px;
    right: 1200px;
  }
  .sizes-7 button:hover{
    background-color: #555;
  }

  .sizes-8 button{
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  .sizes-8{
    position: absolute;
    bottom: -5385px;
    right: 1200px;
  }